<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


    <body data-tasks="<%= tasks %>">
        <%- include('partials/nav.ejs') %>
            <div class="HeaderSearch">
                <h1>View Tasks</h1>
                <% if (tasks.length===0) { %>
            </div>
            <p>No tasks to show</p>

            <% } %>




                <% if (tasks.length> 0) { %>
                    <input type="text" id="search" onkeyup="search()" placeholder="Search for tasks..">
                    </div>


                    <div class="view-tasks">
                        <div class="column todo">
                            <li>To Do</li>
                            <ul id="todoList">
                                <% tasks.forEach(task=> { %>
                                    <% if (task.ToDo) { %>
                                        <li class="kanban-card" data-id="<%= task._id %>">
                                            <div class="header">
                                                <h3 class="title">
                                                    <%= task.Goal %>
                                                </h3>
                                                <span class="icon deletebutton" style="color: red;"
                                                    data-id="<%= task._id %>"><i data-id="<%= task._id %>"
                                                        class="fa-solid fa-trash"></i></span>
                                                <!-- add button to delete -->
                                            </div>
                                            <div class="section">
                                                <h4 class="section-title">Deadline</h4>
                                                <p class="deadline" data-date="<%= task.Deadline %>">
                                                    <strong></strong>
                                                </p>
                                            </div>
                                            <div class="section">
                                                <h4 class="section-title">
                                                    Task Requirements
                                                </h4>
                                                <ul class="bullet-points">
                                                    <li>
                                                        <%= task.Requirements[0] %>
                                                    </li>
                                                    <li>
                                                        <%= task.Requirements[1] %>
                                                    </li>
                                                    <li>
                                                        <%= task.Requirements[2] %>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="section">
                                                <button class="ToDo"><i class="fa-solid fa-list-check"></i></button>
                                                <button class="Doing"><i class="fa-solid fa-gear"></i></button>
                                                <button class="Finished"><i class="fa-solid fa-check"></i></button>
                                            </div>
                                        </li>
                                        <% } %>
                                            <% }); %>
                            </ul>
                        </div>
                        <div class="column Doing">
                            <li>In Progress</li>
                            <ul id="DoingList">
                                <% tasks.forEach(task=> { %>
                                    <% if (task.Doing) { %>
                                        <li class="kanban-card" data-id="<%= task._id %>">
                                            <div class="header">
                                                <h3 class="title">
                                                    <%= task.Goal %>
                                                </h3>
                                                <span class="icon deletebutton" style="color: red;"
                                                    data-id="<%= task._id %>"><i data-id="<%= task._id %>"
                                                        class="fa-solid fa-trash"></i></span>
                                                <!-- add button to delete -->
                                            </div>
                                            <div class="section">
                                                <h4 class="section-title">Deadline</h4>
                                                <p class="deadline" data-date="<%= task.Deadline %>">
                                                    <strong></strong>
                                                </p>
                                            </div>
                                            <div class="section">
                                                <h4 class="section-title">
                                                    Task Requirements
                                                </h4>
                                                <ul class="bullet-points">
                                                    <li>
                                                        <%= task.Requirements[0] %>
                                                    </li>
                                                    <li>
                                                        <%= task.Requirements[1] %>
                                                    </li>
                                                    <li>
                                                        <%= task.Requirements[2] %>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="section">
                                                <button class="ToDo"><i class="fa-solid fa-list-check"></i></button>
                                                <button class="Doing"><i class="fa-solid fa-gear"></i></button>
                                                <button class="Finished"><i class="fa-solid fa-check"></i></button>
                                            </div>
                                        </li>
                                        <% } %>
                                            <% }); %>
                            </ul>
                        </div>
                        <div class="column finished">
                            <li>Finished</li>
                            <ul id="finishedList">
                                <% tasks.forEach(task=> { %>
                                    <% if (task.Finished) { %>
                                        <li class="kanban-card" data-id="<%= task._id %>">
                                            <div class="header">
                                                <h3 class="title">
                                                    <%= task.Goal %>
                                                </h3>
                                                <span class="icon deletebutton" style="color: red;"
                                                    data-id="<%= task._id %>"><i data-id="<%= task._id %>"
                                                        class="fa-solid fa-trash"></i></span>
                                                <!-- add button to delete -->
                                            </div>
                                            <div class="section">
                                                <h4 class="section-title">Deadline</h4>
                                                <p class="deadline" data-date="<%= task.Deadline %>">
                                                    <strong></strong>
                                                </p>
                                            </div>
                                            <div class="section">
                                                <h4 class="section-title">
                                                    Task Requirements
                                                </h4>
                                                <ul class="bullet-points">
                                                    <li>
                                                        <%= task.Requirements[0] %>
                                                    </li>
                                                    <li>
                                                        <%= task.Requirements[1] %>
                                                    </li>
                                                    <li>
                                                        <%= task.Requirements[2] %>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="section">
                                                <button class="ToDo"><i class="fa-solid fa-list-check"></i></button>
                                                <button class="Doing"><i class="fa-solid fa-gear"></i></button>
                                                <button class="Finished"><i class="fa-solid fa-check"></i></button>
                                            </div>
                                        </li>
                                        <% } %>
                                            <% }); %>
                            </ul>
                        </div>
                    </div>

                    <% } %>


    </body>

</html>